body{
    background-color: rgb(33, 37, 41);
    max-width: 97%;
}

footer{
    background-color:rgb(33, 37, 41);
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
}

.divcontenido {
    display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
    margin-top: 50px; 
}

.contenido {
    width:fit-content;
    border-radius: 10px; /* Bordes redondos */
    background: rgb(39, 41, 61);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    min-width: 30%;
    min-height: 100px;
}

.KPI{
    width:fit-content;
    border-radius: 10px; /* Bordes redondos */
    background: rgb(39, 41, 61);
    z-index: 900;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    max-width: 100%;
    min-height: 30%;
    margin: 10px;
}

.accordion {
    --bs-accordion-btn-bg: rgb(39, 41, 61);
    --bs-accordion-active-bg: rgb(0, 0, 0);
    --bs-accordion-active-color: rgb(0, 0, 0);
    --bs-accordion-bg: rgb(51, 49, 66);   
}

.col{
    min-width: 215px;
}

.foto {
    max-width: 300px;
    max-height: 200px;
    margin: 5px; /* Margen entre las fotos */
    display: inline-block; /* Hace que las fotos se alineen en línea */
}

.fotos{
    text-align: center;
}

.contacor{
    max-width: 15%;
    max-height: 25%;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.accordion-body{
    text-align: center;
}

.error {
    text-align: left;
    margin-left: 5px;
    color: #dc3545; /* Color rojo (puedes ajustar el color según tus preferencias) */
    font-size: 0.875rem; /* Tamaño de fuente más pequeño */
    margin-top: 0.25rem; /* Espaciado superior pequeño */
}

.datos-user{
    text-align: left;
}