body{
    background-color: rgb(33, 37, 41);
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
}

.divcontenido {
    display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
}

.contenido {
    width:fit-content;
    border-radius: 10px; /* Bordes redondos */
    background: rgb(39, 41, 61);
    z-index: 900;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    min-width: 30%;
    min-height: 100px
}

.accordion {
    --bs-accordion-btn-bg: rgb(39, 41, 61);
    --bs-accordion-active-bg: rgb(0, 0, 0);
    --bs-accordion-active-color: rgb(0, 0, 0);
    --bs-accordion-bg: rgb(51, 49, 66);
    
}